.headimg{
	background-image: url(../imgs/h1.jpg);
	background-size: cover;
	height:400px;
	background-position: fixed;
}
.bacc{
	background-color:#e8eb34;
	height: 154px;
}
.card-body{
	background-color:#e8eb34;

}